#coloum-content {
  column-gap: 1px;
  text-align: justify;
}
#left {
  display: inline-block;
  width: 45%;
  margin-left: 110px;
}

#right {
  display: inline-block;
  width: 46%;
}
.par12 {
  border: solid gold 4px;
  border-radius: 15px;
}
#IMG {
  margin-left: 180px;
}
blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
}
